.uk-navbar-container {
    position: fixed;
    width: 100%;
}
.uk-navbar-nav>li>a {
    min-height: 60px;
}
#box-media > div {
    width: calc(33% - 8px);
}
#box-media .uk-card-body {
    padding: 10px;
}
#box-media .uk-overlay-default {
    background: rgb(0 0 0 / 40%);
}
#box-media .uk-margin-remove {
    margin: 0!important;
    color: white;
}
#box-media .uk-margin-remove > a,
#box-media .uk-margin-remove > span {
    cursor: pointer;
}
#box-media .uk-margin-remove > a:hover,
#box-media .uk-margin-remove > span:hover {
    color: rgba(255, 255, 255, 0.8);
}
.truncate {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}